/*color palette: https://coolors.co/palette/5f0f40-9a031e-fb8b24-e36414-0f4c5c*/

:root {
    --primary-color: #5f0f40;
    --lighter-primary-color: #be2f49;
    --secundary-color: #9a031e;
    --tertiary-color: #fb8b24;
    --button-color: #0f4c5c;
    --highlight: rgba(255, 255, 255, 0.3);
    --light-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    text-align: justify;
}

span {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

figure img {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/*--------------------------------------------------------*/



/*               HEADER               */

header {
    width: 100vw;
    min-width: 32rem;
    height: 5rem;

    background-color: var(--primary-color);
    color: white;

    position: sticky;
    top: 0;
}

header figure {
    width: 3.5rem;
    height: 3.5rem;

    overflow: hidden;
}

nav {
    justify-content: space-between;

    height: 100%;
    width: 100%;
    padding: 0 .5rem;
}

.nav-list {
    display: none;
}

nav figure:last-child {
    background: none;
    overflow: hidden;
}

nav figure:last-child:hover {
    background: var(--highlight);
}

nav figure:last-child img {
    width: 100%;
    height: 100%;
}

/*----------------------------------------------------------*/




/*              MAIN                */

main {
    width: 100vw;
    min-width: 32rem;
    margin-top: 1rem;
}

/*    ARTICLE     */


.about-us {
    justify-content: center;
    margin: 0 .2rem;
}

.about-us h2 {
    margin-bottom: 1rem;
}

.about-us section {
    justify-content: center;
    flex-direction: column;
    margin: 1.7rem 0 4rem 0;
}

.about-us figure {
    width: 85vw;
    min-width: 22rem;
    height: 75vw;
    min-height: 19rem;

    border: solid;
    border-radius: 2rem;

    overflow: hidden;
}

.about-us span {
    font-size: 1.3rem;
}

/* ******************************** */


/*      PRODUCTS       */

.products {
    justify-content: center;
    background-color: var(--secundary-color);
    color: white;

    padding: 0.2rem;
}

.products h2 {
    margin-bottom: 1rem;
}

.p-list {
    justify-content: center;
    margin-top: 2rem;
}

.card {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 90vw;
    max-width: 32rem;
    height: 120vw;
    max-height: 42rem;
    margin: 1rem;

    overflow: hidden;

    box-shadow: var(--light-shadow);
    border-radius: 2rem;

    background-color: var(--tertiary-color);
    color: white;
}

.card h3 {
    margin: 1rem 0;
}

.products .card p {
    font-size: 1.6rem;
    max-height: 17rem;
    padding: 0 2rem;
    
    overflow: scroll;
}

.card p::-webkit-scrollbar{
    display: none;
}

.card figure {
    background-color: black;

    width: 100%;
    height: 20rem;
}

/***********************/




/*       CONTACT US       */

.contact-us {
    flex-direction: column;
    justify-content: center;

    margin-top: 4rem;
}

.contact-us h2 {
    margin-bottom: 1rem;
}

.social{
    justify-content: center;
}

.contact-us .card {
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--button-color);

    width: 90vw;
    max-width: 38rem;
    height: 50vw;
    max-height: 21rem;
}

/*-----------------------------------------------------*/



/*        FOOTER        */

footer {
    flex-direction: column;
    justify-content: center;

    background-color: var(--primary-color);
    color: white;

    min-height: 5rem;
    height: auto;

}

footer figure{
    display: none;
}

footer section {
    justify-content: flex-end;
    padding: 0 0.2rem;
}